In [1]:
import pandas as pd
import os

user = os.getlogin()
exportação = pd.read_csv(f"Exportacao_vinhos_de_mesa.csv", sep=';')

df_transposto = exportação.melt(id_vars=['Id', 'País'], var_name='Ano', value_name='Valor')
df_transposto[['Ano', 'Tipo']] = df_transposto['Ano'].str.split('.', expand=True)
df_transposto['Tipo'] = df_transposto['Tipo'].map({None : 'Quantidade', '1': 'Valor'})
df_pivot = df_transposto.pivot_table(index=['Id', 'País', 'Ano'], columns='Tipo', values='Valor')
exportação_tratado = df_pivot.reset_index()
exportação_tratado.columns.names = [None]
pais_origem = 'Brasil'
exportação_tratado['Pais_origem'] = pais_origem
exportação_tratado = exportação_tratado[['Ano', 'Pais_origem', 'País', 'Quantidade', 'Valor']]
exportação_tratado['Ano'] = pd.to_numeric(exportação_tratado['Ano'])
exportação_tratado_15_anos = exportação_tratado.query('Ano >= 2023 - 14')
exportação_tratado_15_anos.to_excel(f'exportacao_tratado.xlsx', index=False)

       Ano Pais_origem         País  Quantidade  Valor
39    2009      Brasil  Afeganistão         0.0    0.0
40    2010      Brasil  Afeganistão         0.0    0.0
41    2011      Brasil  Afeganistão         0.0    0.0
42    2012      Brasil  Afeganistão         0.0    0.0
43    2013      Brasil  Afeganistão         0.0    0.0
...    ...         ...          ...         ...    ...
7393  2019      Brasil       Vietnã        20.0   32.0
7394  2020      Brasil       Vietnã        86.0  584.0
7395  2021      Brasil       Vietnã         0.0    0.0
7396  2022      Brasil       Vietnã       130.0  277.0
7397  2023      Brasil       Vietnã        72.0  128.0

[2055 rows x 5 columns]

In [7]:
producao = pd.read_csv(f'Producao.csv', sep=';')
producao = producao.query('id == [1,2,3,4,5,6,7,8]')
nomes_produto = {
    (1, 'produto'): 'VinhodeMesa_tinto',
    (2, 'produto'): 'VinhodeMesa_branco',
    (3, 'produto'): 'VinhodeMesa_rosado',
    (5, 'produto'): 'VinhoFino_tinto',
    (6, 'produto'): 'VinhoFino_branco',
    (7, 'produto'): 'VinhoFino_rosado'
}
for (index, col), valor in nomes_produto.items():
    producao.loc[index, col] = valor
    
producao = producao[~producao['produto'].isin(['VINHO DE MESA', 'VINHO FINO DE MESA (VINÍFERA)'])]
producao.reset_index(drop=True, inplace=True)

producao_transposto = producao.melt(id_vars=['id', 'produto'], var_name='Ano', value_name='Quantidade')
producao_transposto['Ano'] = pd.to_numeric(producao_transposto['Ano'])
producao_tratado = producao_transposto.query('Ano >= 2023 - 14').reset_index().drop(['index','id'], axis=1)
producao_tratado.to_excel(f'C:/Users/{user}/OneDrive - Coopercarga/.Pós Graduação/Fase 1/Tech Challenge/BD/produção_tratado.xlsx', index=False)

In [8]:
comercio = pd.read_csv(f'Comercio.csv', sep=';')
comercio = comercio.iloc[0:8]
nome_produto = {
    (1, 'produto'): 'VinhodeMesa_tinto',
    (2, 'produto'): 'VinhodeMesa_branco',
    (3, 'produto'): 'VinhodeMesa_rosado',
    (5, 'produto'): 'VinhoFino_tinto',
    (6, 'produto'): 'VinhoFino_branco',
    (7, 'produto'): 'VinhoFino_rosado'
}
for (index, col), valor in nome_produto.items():
    comercio.loc[index, col] = valor
    comercio = comercio[~comercio['produto'].isin(['VINHO DE MESA', 'VINHO  FINO DE MESA'])]
comercio.reset_index(drop=True, inplace=True)
comercio_transposto = comercio.melt(id_vars=['id', 'produto'], var_name='Ano', value_name='Quantidade')
comercio_transposto['Ano'] = pd.to_numeric(comercio_transposto['Ano'])
comercio_tratado = comercio_transposto.query('Ano >= 2023 - 14').reset_index().drop(['index','id'], axis=1)
comercio_tratado.to_excel(f'comercio_tratado.xlsx', index=False)